/** {
    border: 2px solid red;
}*/

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;


}

body {
    margin: 0;
}

.logo {
    height: 50px;
    text-align: left;
    margin-left: 10px;


}

nav {
    height: 69px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid seashell;
    position: sticky;
    margin: 0;
    top: 0;
    background-color: black;



}

nav a {

    color: seashell;
    margin: 10px;


}

.navLink {

    margin-left: auto;
}

.bannerContainer {
    display: flex;
    align-items: center;
    background-image: url("../images/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.banner {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-height: 185px;
    width: 1200px;
    margin: 0 auto;
    background-color: black;
    
}

h2,
h4 {
    background-color: black;
    margin-top: 20px;
    margin-bottom:20px;
}

.teaContainer3 {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;


}

.teaContainer2 {
    display: flex;
    max-width: 650px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

}

.teaPictures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

img {
    display: block;
    margin: 0;
    padding: 0;

}

figcaption {
    margin-top: 10px;
    text-align: center;
}

figure {
    padding: 0;
    margin: 0;
}






.locations {
    display: flex;

}

.contact {
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-height: 200px;

}

footer {
    text-align: left;
}

footer h5 {
    margin-left: 20px;
}