/** {
    border: red 2px solid;
    
}*/

html {
    border: none;
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5vh;
}

main h1{
    margin-bottom: 0;
    font-size: 3rem;
}

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Roboto' , Arial,  sans-serif;
    color:rgb(56, 62, 66);
    padding: 0;
    border: none;
    
    
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left:10vw;
    padding-right:10vw;
    
    
}

.menu-item {
    display: block;
    padding: 5px;
      
}



.menu-icon {
    padding: 5px;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 200;
    margin: 10px;
}

nav {
    background-color: rgb(56, 62, 66);
    margin: 0;
    position: sticky;
    float:right;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}

nav a{
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    
    
    
}

.menu-item:hover{
    background-color: rgba(245, 245, 245,0.2);
    
}

nav p{
    margin-bottom: 20px;
    font-size: 1rem;
    margin-top: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
    
    
}

nav i{
    margin-bottom: 0 ;
}

#about-me {
    display: flex;
    flex-wrap: no-wrap;
    justify-items: center;
}

#about-me-content {
    display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}





#about-me-content p{
    margin-top: 1rem;
    text-align: left;
}



#photo {
    
    width: auto;
    max-height: 300px;
    margin-left: 1rem;
    margin-top: 1rem;
    
}

#joke-container {
    width: 60vw;
    height: 50vh;
    background-color: rgb(56, 62, 66);
    position: sticky;
    top: 25vh;
    display: flex;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    
    
}

#joke-container p {
    margin: auto;
    padding:0 5vw;
}

.close-button{
    color: whitesmoke;
    font-size: 1.5rem;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 20px;
}

.close-button:hover {
    background-color: red;
}

.close-button:active {
    opacity: 0.7;
}

button {
    font-family: 'Roboto' , Arial,  sans-serif;
    color:rgb(56, 62, 66);
    border: 2px solid rgb(56, 62, 66);
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    padding: 10px 0px;
    margin-bottom: 16px;
}

button:hover{
    background-color: rgb(56, 62, 66) ;
    opacity: 0.8;
    color:whitesmoke;
}

button:active{
    color:rgb(56, 62, 66);
    border: 2px solid rgb(56, 62, 66);
    background-color: rgb(245, 245, 245);
    opacity: 1;
}

.page-icons{
    padding: 5px;
    font-size: 2rem;
    font-weight: 200;
    margin: 10px;
}

#contact i:hover{
    opacity: 0.8;
}

#contact i:active{
    opacity: 1;
}


  
    @media only screen and (max-width: 1045px){
        h1,h2,h3,p{
            text-align: center;
        }

        #projects {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #about-me {
            flex-wrap: wrap;
        }
    
        #photo {
            margin: 0 auto;
            margin-bottom: 1rem;
        }

       #skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
       }

       #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
       }

      


    }