* {
    border: red 2px solid;
    
}

h1,h2,h3,p {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    display: flex;
    margin: 0;
    font-family: Helvetica, Arial,  sans-serif;
}

.content-container {
    position: absolute;
    width: 75%;
    left: 0px;
}

.menu-item {
    display: block;
    padding: 10px;
}

.menu-icon {
    padding: 5px;
    color: green;
    font-size: 2rem;
    font-weight: 200;
}

nav {
    width: 25%;
    right: 0px;
    position: absolute;
    
}

#about-me {
    display: flex;
}

#photo {
    width: 300px;
}